/*Hoja de estilos para minicarousel de seccion Corretaje*/

.slider{
    margin: auto;
    overflow: hidden;
    padding-top: 15%;
    width: 95%;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

#Agricolas, #Industriales, #Urbanos{
    display: none;
}

#forestales{
    display: block;
}
